    <div class="row">
    <div class="col">
    <div style= "text-align: center">
            <ul>
                    Username:<li>{{this.accountservice.getOpslag('currentUser').username}}</li> 
                    <br>
                    E-mail:<li>{{this.accountservice.getOpslag('currentUser').email}}</li>
                    <br>
                    Firsname:<li>{{this.accountservice.getOpslag('currentUser').firstname}}</li>
                    <br>
                    Lastname:<li>{{this.accountservice.getOpslag('currentUser').lastname}}</li>
                    <br>
                    Street:<li>{{this.accountservice.getOpslag('currentUser').street}}</li>
                    <br>
                    House number:<li>{{this.accountservice.getOpslag('currentUser').houseNumber}}</li>
                    <br>
                    Zipcode:<li>{{this.accountservice.getOpslag('currentUser').zipcode}}</li>
                    <br>
                    City:<li>{{this.accountservice.getOpslag('currentUser').city}}</li>
            </ul>
           
            <button class="button" (click)="goToChangeAccount()">Change info</button>
    </div>
    <button class="button" (click)="goToGame()">Play Game!</button>
</div>

    <div class="col">
<form [formGroup]="euroForm">
                <pre>
                        <div>
                                <label for="euroInput">
                                    Euro:
                                </label>
                                <input type = "number" id="euroInput" name="euroInput" class="form-control" formControlName="euro" required>
                            </div>                                                                                                         
                            <button class="button" (click) = "validateForm()">Add Euro</button>
            
                            
                            Je hebt nu {{accountservice.getOpslag('currentUser').wallet.euro}} euro!                                  
                            
                            Je hebt nu {{accountservice.getOpslag('currentUser').wallet.coins}} coins! 

                            <a [routerLink]="['/orderhistory']">go to orderhistory</a>
                   </pre>
            
            </form>
        </div>
</div>
  