<html>
    <head>
            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
           
    </head>


    <body>
            <div id="div1" class="fa"></div>
        
<div class="d-flex flex-row justify-content-center align-self-center">
            <canvas id="canvas" width="1024px" height="768px"  style="background: url('assets/images/spaceshop.png')"   ></canvas>
        </div><div class="d-flex flex-row justify-content-center align-self-center">

            <button (click)="playGame()">Play Game!</button>
        </div>

           


           
        <script language="Javascript" type="text/javascript" src="src/assets/js/game.js"></script>
    </body>


</html>