
<div class="header" >
    
            <td   >
                <img class="coverlogo" src="assets/images/laika logo bbc.png"  style="align-content: center; margin-right: 10%" alt="LaikaShopLogo"> 
            </td>
            <td style="align-content: right; padding-right: 5px" [routerLink]="['/menu']"> 
                <button style="border-radius: 5px; color: whitesmoke; background: #00000000;"> <mdb-icon fas icon="home" [routerLink]="['/menu']" > </mdb-icon> </button>
            </td>
        
        <!-- <div [hidden]=this.accountservice.currentUserValue>
            <a [routerLink]="['home']"> </a>
        </div> -->
</div>