
<div    >
    <pre class="container">
            Firstname: <input type="text" id="firstname" [(ngModel)]="this.localAccount.firstname">  

            Lastname: <input type="text" id="lastname" [(ngModel)]=" this.localAccount.lastname">
        
            Username: <input type="text" id="username" [(ngModel)]=" this.localAccount.username">   
        
            Password: <input type="text" id="password" [(ngModel)]=" this.localAccount.password">
        
            E-mail: <input type="text" id="email" [(ngModel)]=" this.localAccount.email">
        
            Street: <input type="text" id="street" [(ngModel)]=" this.localAccount.street">
        
            House number: <input type="text" id="houseNumber" [(ngModel)]=" this.localAccount.houseNumber">
        
            Zipcode: <input type="text" id="zipcode" [(ngModel)]=" this.localAccount.zipcode">
        
            City: <input type="text" id="city" [(ngModel)]=" this.localAccount.city">

            <button (click)="changeInfo()" >Submit</button>
            
    </pre>
    
</div>
