.boxInfo {
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
  
}
td {
    padding: 5%;
    justify-content: center;
}
.col {
    padding: 5%;
    align-content: center !important;
}
.textBox {
    width:178px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
