
<div class = "container">

<a [routerLink]="['/admin/adminpage']">Back to admin page</a> 
</div>

<div class="container">
    <div class="row">

        <div class="col">
            <div class="addProduct">
                <form [formGroup]="registerForm">
                        <pre>
                    <h1> Add a new product:</h1>
                <label for="ProductName">
                   <h3> ProductName:</h3>
                </label>
                <input id="ProductName" name="ProductName" class="form-control" formControlName="ProductName" placeholder= "ProductName" required>

                <label for="Supplier">
                        <h3>  Supplier:</h3>
                </label>
                <input id="Supplier" type="Supplier" class="form-control" formControlName="Supplier" placeholder= "Supplier" required>
                <label for="Stock">
                        <h3>  Stock:</h3>
                </label>
                <input id="Stock" type="number" class="form-control" formControlName="Stock" placeholder= "Stock" required>
            <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" (click)="validateForm()">Submit</button>
        </pre>
                </form>
                
            </div>
            
        </div>


        <div class="col">
            <h1>Change product information</h1>
            <br>
            <select id="products" class="select" (click)="getOptionValue()">

            </select>

            <div [hidden]= !hiddenInput >
                <pre>
                        <h3>   Name product:</h3> <input  class="form-control" [(ngModel)]=" this.productStorage.name">

                            <h3>   Price product:</h3> <input  class="form-control" [(ngModel)]=" this.productStorage.price">

                                <h3>  Stock product:</h3> <input class="form-control"  [(ngModel)]=" this.productStorage.stock">

                                    <h3>  Supplier:</h3> <input  class="form-control" [(ngModel)]=" this.productStorage.supplier">

                                        <h3>  Description: </h3><textarea  class="form-control" [(ngModel)]="this.productStorage.description"></textarea>
                    
                    <button (click)="changeInfo()" >Submit changes</button>
                    
                    <button (click)="deleteProduct()">Delete this product</button>

                </pre>
                  </div>
        </div>
      

</div>
</div>