<a [routerLink]="['/admin/adminpage']">Back to admin page</a>
<!-- <div class="container"> -->
    <div class="row">
        <div class="col">
            <div class="addProduct">
                <form [formGroup]="registerForm">
                    <pre>
        <div>
                <label for="ProductName">
                    ProductName:
                </label>
                <input id="ProductName" name="ProductName" class="form-control" formControlName="ProductName" placeholder= "ProductName" required>
            </div>
            <div>
                <label for="Supplier">
                    Supplier:
                </label>
                <input id="Supplier" type="Supplier" formControlName="Supplier" placeholder= "Supplier" required>
            </div>
            <div>
                <label for="Stock">
                    Stock:
                </label>
                <input id="Stock" type="number" formControlName="Stock" placeholder= "Stock" required>
                </div>
            <button type="button" (click)="validateForm()">Submit</button>
   </pre>
                </form>
            </div>
        </div>


        <div class="col">

            <select id="products" (click)="getOptionValue()">

            </select>

            <div [hidden]= !hiddenInput >
                <pre>
                    Name product: <input [(ngModel)]=" this.productStorage.name">

                    Price product: <input [(ngModel)]=" this.productStorage.price">

                    Stock product: <input [(ngModel)]=" this.productStorage.stock">

                    Supplier: <input [(ngModel)]=" this.productStorage.supplier">

                    Description: <textarea [(ngModel)]="this.productStorage.description"></textarea>
                    
                    <button (click)="changeInfo()" >Submit changes</button>
                    
                    <button (click)="deleteProduct()">Delete this product</button>

                </pre>
                  </div>
        </div>
      

<!-- </div> -->