/* Header & navigatiebar & grid (voor iedere pagina) */

.Main { grid-area: main; }
.Right { grid-area: right; }
.Footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'main main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(223, 217, 217, 0.486);
  padding: 20px 0;
  font-size: 20px;
  font-family: Arial;
}

.header {
    text-align: center; /* center the text */
    background: #dd0e00; /* green background */
    color: black; /* white text color */
}
  
  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(112, 111, 111);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color:#dd0e00}

.button:active {
  background-color: #dd0e00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

  /* Eind Header & navigatiebar & grid (voor iedere pagina) */

  /* Slideshow */
  .carousel-wrapper{
    height:500px;
    position:relative;
    width:500px;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:10px 20px;
    opacity:0;
    transition: all 0.5s ease-in-out;
  }
  .arrow{
    border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 10px;
  }
  
  .arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
      right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 480px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 20%;
        }
      
  }
  
  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
    table {}
    
  .item-1 {
      z-index: 2;
      opacity: 1;
    background:url('src/assets/images/LaikaLogoDog.png');
    background-size: cover;
    }
  .item-2{
    background:url('src/assets/images/Bert.jpg');
     background-size:cover;
  }
  .item-3{
    background:url('src/assets/images/LaikaLogo.png');
     background-size:cover;
  }
  
  *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }
    /* End Slideshow */
  