<p>{{this.accountservice.accountOpslag.cart.total | number}}</p>

<p>{{this.accountservice.accountOpslag.cart.productstoShow}}</p>



<div class="grid-container">
            <table>
            <tr *ngFor ='let product of this.accountservice.accountOpslag.cart.productSet'>
                <td>
                            {{product.name}}
                            <br>
                            <br>
                            Itemnr.{{product.id}}<p><img src="{{product.image}}" alt="Item 1" width=30% height=30%></p>
                          
                        </td>
                            <br>
                            <td>
                               
                                <br>
                                <br>
                                ${{(product.price*product.quantity)}}
                                <br>
                                                Quantity:
                                                {{product.quantity}}
                                                <br>
                                                <br>
                                                Supplier:
                                                {{product.supplier}}
                                                <br>
                                                <br>
                                                <button class="button" (click)="deleteProductFromCart(product)">-</button>&nbsp;&nbsp;          
                                                <button class="button" (click)="addToCart(product)">+</button>  
                                                 
                                                <br>
                                                <br>
                                        </td>
                </tr>
            </table>
            <button class="button" (click)="checkWallet()">Checkout</button>

