<div    >>
    <pre>
        id: <input type="text" id="firstname" [(ngModel)]="this.localAccount.orderhistory.id">  

            allOrders: <input type="text" id="lastname" [(ngModel)]="this.localAccount.orderhistory.allOrders">
        
            paid: <input type="text" id="username" [(ngModel)]="this.localAccount.orderhistory.paid">   
        
            totalCosts: <input type="text" id="password" [(ngModel)]=" this.localAccount.totalCosts">
        
            time: <input type="text" id="email" [(ngModel)]=" this.localAccount.time">
        
          

            <button (click)="changeInfo()" >Submit</button>
            
    </pre>
    
</div>


Retrieve all orders here
<button (click)="acceptOrder()">
    Accept order
</button>