<div    >>
    <pre>
            Firstname: <input type="text" id="firstname" [(ngModel)]="this.accountservice.accountOpslag.firstname">

            Lastname: <input type="text" id="lastname" [(ngModel)]="this.accountservice.accountOpslag.lastname">
        
            Username: <input type="text" id="username" [(ngModel)]="this.accountservice.accountOpslag.username">
        
            Password: <input type="text" id="password" [(ngModel)]="this.accountservice.accountOpslag.password">
        
            E-mail: <input type="text" id="email" [(ngModel)]="this.accountservice.accountOpslag.email">
        
            Street: <input type="text" id="street" [(ngModel)]="this.accountservice.accountOpslag.street">
        
            House number: <input type="text" id="houseNumber" [(ngModel)]="this.accountservice.accountOpslag.houseNumber">
        
            Zipcode: <input type="text" id="zipcode" [(ngModel)]="this.accountservice.accountOpslag.zipcode">
        
            City: <input type="text" id="city" [(ngModel)]="this.accountservice.accountOpslag.city">

            <button (click)="changeInfo()" >Submit</button>
            
    </pre>
    
</div>
