<div style="text-align: left">
    <pre>
            Firstname: <input type="text" id="firstname" [(ngModel)]="account.firstname">

            Lastname: <input type="text" id="lastname" [(ngModel)]="account.lastname">
        
            Username: <input type="text" id="username" [(ngModel)]="account.username">
        
            Password: <input type="text" id="password" [(ngModel)]="account.password">
        
            E-mail: <input type="text" id="email" [(ngModel)]="account.email">
        
            Street: <input type="text" id="street" [(ngModel)]="account.street">
        
            House number: <input type="text" id="houseNumber" [(ngModel)]="account.houseNumber">
        
            Zipcode: <input type="text" id="zipcode" [(ngModel)]="account.zipcode">
        
            City: <input type="text" id="city" [(ngModel)]="account.city">

            <button (click)="changeInfo()" >Submit</button>
            
    </pre>
    
</div>
