
<div class="boxMenu">
        <img src="assets/images/buttonacc.png" alt="btnAccount" [routerLink]="['/account']">
        <img src="assets/images/buttonshop.png" alt="btnShop" [routerLink]="['/shop']" >
        <img src="assets/images/buttoncart.png" alt="btnCart" [routerLink]="['/shopcart']">
       
        <img src="assets/images/buttonhistory.png" alt="btnHistory" [routerLink]="['/orderhistory']" >
        <img src="assets/images/buttongame.png" alt="btnGame" [routerLink]="['/game']">
        <img src="assets/images/buttonlogout.png" alt="btnLogout" [routerLink]="['/logout']">
      
</div>
          