<p>Welcome HOME!</p>

<hr>

<h2> Inloggen: </h2>
<div style="text-align: left">
    Username: <input type="text" id="username" [(ngModel)]="this.accountservice.accountOpslag.username">
    Password: <input type="text" id="password" [(ngModel)]="this.accountservice.accountOpslag.password">
    <button (click)="checkAccount()">Login</button>
    {{account.id}}
</div>

<br>
<br>

<div style="text-align: left">
    <button (click)="goRegisterPage()">No account? Register here</button>
</div>

<br>
<br>

<div style="text-align: left">
    E-mail: <input type="text" id="email" [(ngModel)]="this.accountservice.accountOpslag.email">
    <button style="color: crimson" (click)="forgotPassword()">Forgot password?</button>
    {{account.password}}
</div>  

<div style="text-align: left">
    E-mail: <input type="text" id="email" [(ngModel)]="this.accountservice.accountOpslag.email">
    <button style="color: mediumseagreen" (click)="forgotUsername()">Forgot username?</button>
    {{account.username}}
</div>

<img src="assets/images/Bert.jpg" alt="nextprogram.com" width="150" height="200" />