
    

<!-- <button (click)="viewAccount()">zie account info</button> -->
<hr>
    <div style= "text-align: center">
            <ul>
                    Username:<li>{{account.username}}</li> 
                    <br>
                    E-mail:<li>{{account.email}}</li>
                    <br>
                    Firsname:<li>{{account.firstname}}</li>
                    <br>
                    Lastname:<li>{{account.lastname}}</li>
                    <br>
                    Street:<li>{{account.street}}</li>
                    <br>
                    House number:<li>{{account.houseNumber}}</li>
                    <br>
                    Zipcode:<li>{{account.zipcode}}</li>
                    <br>
                    City:<li>{{account.city}}</li>
            </ul>
           
            <button  (click)="goToChangeAccount()">Change info</button>
    </div>
    
    {{account | json}}

  