<p>register works!</p>

<div style="text-align: left">
    Username: <input type="text" id="username" [(ngModel)]="this.accountservice.accountOpslag.username" >
    Password: <input type="text" id="password" [(ngModel)]="this.accountservice.accountOpslag.password">
    E-mail:   <input type="text" id="email" [(ngModel)]="this.accountservice.accountOpslag.email">
    <button (click)="createAccount()">Submit</button>
    </div>

    <!-- BUTTON GA NAAR REGISTREREN! -->
    <div>
        <button (click)="viewAccount()">zie account info</button>
        <button (click)="goAccountPage()">Account - goAccountPage</button>
        <!-- <a [routerLink]="['/register']">naar register via link</a> -->
    </div>

    
    <!-- {{accounts | json}} -->

    <div *ngFor="let account of accounts">
        {{this.accountservice}}
    </div>
    <!-- EINDE -->